@charset "UTF-8";

/* Keyframes */
@keyframes jump {
  0% {
    margin-top: -70px;
  }
  50% {
    margin-top: -150px;
  }
  100% {
    margin-top: -70px;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(10deg);
  }

	50% {
    transform: rotate(-10deg);
  }

	100% {
    transform: rotate(10deg);
  }
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes slideIn {
  from {
    top:-300px;
    opacity:0;
  }
  to {
    top:200px;
    opacity:1;
  }
}

/* */
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
}

nav ul li a {
  position: relative;
  transition: all 1s;
  margin-top:0px;
  margin-bottom:0px;
}
nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff3e2;
  height: 1px;
}
nav ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}

#heroDiv {
  margin-top:-55px;
  height: 100vh;
  overflow: auto;
}
.heroImage {
  display:none;
  position:relative;
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.heroText {
  position:fixed;
  text-align:center;
  transform: translateX(-50%) translateY(var(--moveY)) scale(var(--scale));
  margin:0 auto;
  width:480px;
  background-color: white;
  mix-blend-mode: screen;
  color:black;
  padding:20px 0px;
  top:40%;
  left:50%;
  z-index:1;
  white-space: nowrap;
}

.heroText h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-variant: small-caps;
}
.heroText h3 {
  font-family: 'Rajdhani', sans-serif;
}

#jumping-arrow {
  text-align:center;
  color:white;
  position:relative;
  animation:jump 6.5s infinite;
}

.content {
  position:relative;
  text-align: center;
  width: 100%;
  z-index:1000;

}
.content .fas {
  text-align: center;
  color: #ffb347;
  padding: 20px;
  animation: rotation 10s infinite;
}
.content .row {
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.content-section {
  background-color:white;
  padding:60px 0px;
}

.parallax {
  background-attachment: fixed;
  background-size:cover;
  height:40vh;
}

#programme {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:white;
}

#location {
  width:80%;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#location .row div {
  background-size:cover;
  box-shadow: inset 0 0 0 140px rgba(255,179,71,0.8);
  color: black;
  height:30vh;
  padding-top:30px;
  transition:0.8s;
}
#location .row div:hover {
  box-shadow: inset 0 0 0 0px rgba(255,179,71,0.8);
}

#ybbs, #scheibbs, #amstetten, #melk {
  background-image: url('../img/htl.jpeg');
}

#contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

#cards {
  width: 80vw;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1200px) {
  #cards {
    width: 15vw;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  #location .row div {
    padding-top:60px;
  }
  .heroText {

  }
}

/* Modal Contact Box */
#openContact {
  padding:10px 20px;
  background-color: #ffb347;
  border:1px solid #ffb347;
  color:white;
  border:none;
  font-variant: small-caps;
  border-radius:4px;
}
#openContact:hover {
  background-color: #fff3e2;
  color:black;
  transition:0.5s;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin:auto;
  padding: 20px;
  width: 60%;
  top:200px;
  animation:slideIn 0.7s;
}
.close-modal {
  color: #aaa;
  float:right;
  font-size: 24px;
  font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
